<div class="fixed left-0 top-0 flex h-full w-full items-center justify-center bg-slate-300 py-10">
  <div class="max-h-full w-full max-w-xl overflow-y-auto sm:rounded-2xl bg-white px-2">
    <div class="w-full">
      <h2 *ngIf="isAuthenticated()" class="text-center py-4 font-bold text-xl text-slate-600">Welcome {{userName()}}
      </h2>
      <h2 *ngIf="!isAuthenticated()" class="text-center py-4 font-bold text-xl text-red-700">Not Authenticated</h2>
      <h2 *ngIf="error()" class="text-center py-4 font-bold text-xl text-red-700">{{error() | json}}</h2>
      <div class="m-8 max-w-[400px] mx-auto">
        <div class="mb-8">
          <h1 class="mb-4 text-3xl font-extrabold">Subscribe to</h1>
          <p class="text-gray-600">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, soluta?</p>
        </div>
        <div class="space-y-4">
          <button (click)="onSubmit()"
            class='w-full group font-medium tracking-wide select-none text-base relative inline-flex items-center justify-center cursor-pointer h-12 border-2 border-solid py-0 px-6 rounded-full overflow-hidden z-10 transition-all duration-300 ease-in-out outline-0 bg-teal-600 text-white border-teal-600 hover:text-teal-600 focus:text-teal-600'>
            <app-spinner *ngIf="isLoading()"/>
            <strong class='font-medium'>Join</strong>
            <span
              class='absolute bg-white bottom-0 w-0 left-1/2 h-full -translate-x-1/2 transition-all ease-in-out duration-300 group-hover:w-[105%] -z-[1] group-focus:w-[105%]'></span>
          </button>
        </div>
        <h2 *ngIf="isAuthenticated() && (counter$ | async) as counter" class="text-center py-4 font-bold text-slate-600">User Counter: {{counter}}</h2> 
      </div>
    </div>
  </div>
</div>